body {
    font-family : sans-serif; 
    margin-top : 60px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbxA_UP-h8aNLWFG9SIwsqgnyxNhc8d0KpaS7PSL34CF3Gt8LK9ojj-DA")
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 500px;
}

.container  {
    max-width: 800px;
    margin : 0 auto;
    color : #4a4a4a;
    padding-left: 20px;
    padding-right: 20px;
    font-family : sans-serif;
 }
