body {
    font-family : sans-serif; 
    margin-top : 100px;
    background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSjXQausAkwvDzqyMtH_hmMslX2C2Hq5Q35-VyMqLIi9vRQ9VXdwg")
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container  {
    max-width: 800px;
    margin : 0 auto;
    color : #4a4a4a;
    padding-left: 20px;
    padding-right: 20px;
    font-family : sans-serif;
 }
