body {
    font-family : sans-serif; 
    margin-top : 60px;
    background: url("http://4.bp.blogspot.com/-cHzOJY0ejZU/UEheTO0DERI/AAAAAAAAA7k/mDw5VgWH4Bg/s1600/beach-sun-nature-HD-background-wallpaper-for-laptop-widescreen.jpg")
}

.center {
    text-align: left;
}

.text-big {
    font-size: 500%;
}

.bold {
    font-weight: bold;
}

.container  {
    max-width: 800px;
    margin : 0 auto;
    color : violet;
    padding-left: 20px;
    padding-right: 20px;
    font-family : helvetica;
 }
